

.lzrecruitment_job_offer_view .error li {
	list-style-type: none;
	margin-bottom: 5px;
}

.lzrecruitment_job_offer_view a {
	text-decoration: underline;
}

/* Job Offer */

.job_offer job_offer_header {
	margin-bottom : 10px;
}

.job_offer .job_offer_header nav {
	display: inline-block;
}

.job_offer .job_offer_header nav li {
	list-style-type: none;
	text-align: right;
}


.job_offer .job_offer_header aside {
	border : 1px #bebebe solid;
	background-color: #ebebeb;
	padding: 10px;
	margin: 10px;
}

.job_offer .job_offer_header aside em {
	font-weight: bold;
}

.job_offer .job_offer_title {
	display: inline-block;
	width: 80%;
	vertical-align: top;
}

.job_offer .job_offer_type,
.job_offer .job_offer_location,
.job_offer .job_offer_salary,
.job_offer .job_offer_education_level,
.job_offer .job_offer_career_level,
.job_offer .job_offer_duration,
.job_offer .job_offer_experience
{
	display: block;
}


.job_offer .job_offer_footer {
	text-align: right;
	color: #777777;
	font-style: italic;
}

.job_offer .job_offer_published_date {
	width: 100%;
}

.job_offer .job_offer_footer div {
	margin: 0px 5px 5px 5px;
}

/* form */

.lzrecruitment_job_offer_form  fieldset {
	padding:0 0 15px 0;
	border:1px solid #ccc;
	background:#f8f8f8
}
.lzrecruitment_job_offer_form  h3 {
	margin:0 0 15px 0;
	padding:8px;
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	background: #989898
}
.lzrecruitment_job_offer_form p {margin:0; padding:0 0 10px 0;}

.lzrecruitment_job_offer_form label {
	display:inline-block;
	padding:6px 15px;
	width:100px;
	font-size:12px;
	text-align:right
}

.lzrecruitment_job_offer_form p.textarea label {
	vertical-align:top;
}

.lzrecruitment_job_offer_form p.text input {
	padding:0 5px;
	height:22px;
	width:330px;/* 340 */
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
.lzrecruitment_job_offer_form p.select select {
	margin-right:10px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
.lzrecruitment_job_offer_form p.textarea textarea {
	height:300px;
	width:340px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
.lzrecruitment_job_offer_form p.submit {
	text-align: right; 
	margin-right: 60px;
}

.lzrecruitment_job_offer_form .legend {
	color: #777777;
	font-style: italic;
	margin-left: 140px;
}

.lzrecruitment_job_offer_form .error ul {
	list-style-type: none;
}