
/* List */
.job_offer_list table {
	width: 100%
}

.job_offer_list tr {
	border-bottom: 1px solid #ebebeb;
}

.job_offer_list td {
	vertical-align: middle;
	padding: 10px;
}

.job_offer_list p {
	margin: 5px;
	padding: 0px;
}

.job_offer_list h4 {
	font-size: 1.4em;
}

.legend {
	color: #777777;
	font-style: italic;
}

/* Quick View */

.job_offer .quick_view {
	position: absolute;
	left: -9999px;
	top: 0px;
	width: 90%;
	padding: 10px;	
	border: 1px #bebebe solid;
	z-index: 10;
	background: beige;
}

.job_offer:hover {
	background-color: beige;
}

.job_offer .job_offer_action {
	text-align: right;
}

.job_offer .job_offer_action:hover .quick_view {
	left: 0;
	text-align: left;
}

.job_offer .quick_view .job_offer_header aside {
	border : 1px #bebebe solid;
	background-color: #ebebeb;
	padding: 10px;
	margin: 10px;
}

.job_offer .quick_view .job_offer_header aside em {
	font-weight: bold;
}

.job_offer .quick_view .job_offer_title {
	display: inline-block;
	width: 80%
}

.job_offer .quick_view .job_offer_type,
.job_offer .quick_view .job_offer_location,
.job_offer .quick_view .job_offer_salary,
.job_offer .quick_view .job_offer_education_level,
.job_offer .quick_view .job_offer_career_level,
.job_offer .quick_view .job_offer_duration,
.job_offer .quick_view .job_offer_experience
{
	display: block;
	width: 100%
}


.job_offer .quick_view .job_offer_footer {
	text-align: right;
	color: #777777;
	font-style: italic;
}

.job_offer .quick_view .job_offer_published_date {
	width: 100%;
}

.job_offer .quick_view .job_offer_footer div {
	margin: 0px 5px 5px 5px;
}

